.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__element {
  @include list-reset;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.categories__link {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 200px;
  padding-top: 27.5px;
  padding-bottom: 27.5px;
  text-decoration: none;
  color: #ffffff;
}

.categories__link--interior {
  background-color: #63d1bb;

  &::after {
    @include pseudo-content;
    background: url("/img/icon-interior.svg");
    width: 40px;
    height: 62px;
    opacity: 0.5;
    top: 25px;
    left: 250px;
  }
}

.categories__link--toys {
  background-color: #56c3b2;

  &::after {
    @include pseudo-content;
    background: url("/img/icon-toy.svg");
    width: 60px;
    height: 60px;
    opacity: 0.5;
    top: 25px;
    left: 240px;
  }
}
