.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__element {
  @include list-reset;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.categories__link {
  display: block;
  position: relative;
  padding-left: 29px;
  padding-right: 200px;
  padding-top: 26px;
  padding-bottom: 29px;
  text-decoration: none;
  color: $color-white;

  &--interior {
    background-color: $seafoam-blue;

    &::after {
      @include pseudo-content;
      background: url("../img/icon-interior.svg");
      width: 40px;
      height: 62px;
      opacity: 0.5;
      top: 23px;
      right: 37px;
    }
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      @include pseudo-content;
      background: url("../img/icon-toy.svg");
      width: 60px;
      height: 60px;
      opacity: 0.5;
      top: 23px;
      right: 27px;
    }
  }
}

@media (min-width: $table-width) {
  .categories {
    width: 668px;
  }

  .categories__element {
    display: flex;
  }

  .categories__link {
    width: 334px;
    height: 119px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-left: 36px;

    &--interior {

      &::after {
        top: 30px;
      }
    }

    &--toys {

      &::after {
        top: 32px;
        right: 34px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1050px;
    margin-bottom: 123px;
  }

  .categories__link {
    width: 525px;
    padding-right: 303px;
  }
}
