.contact {
  width: 320px;
  margin: 0 auto;
}

.contact__paragraph,
.contact__email {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-brown;
  padding: 0;
  margin: 0;
}

.contact__email {
  text-decoration: none;
  border-bottom: 1px solid $seafoam-blue;
}

.contact__paragraph {
  margin-right: 32px;
}

.contact__address {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-brown;
  font-style: normal;
  width: 150px;
}

.contact__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 29px;
  margin-bottom: 25px;
}

.contact__email-wrapper,
.contact__address-wrapper {
  display: flex;
  margin-left: 29px;
  margin-bottom: 29px;
}

.contact_map {
  margin-top: 8px;
  margin-bottom: 34px;
}

.contact_write {
  margin: 0 auto;
  margin-bottom: 38px;
  font-size: 18px
}

@media (min-width: $table-width) {
  .contact {
    width: 772px;
    margin-bottom: 57px;
  }

  .contact__title {
    @include size-title-table;
    margin-left: 48px;
    margin-bottom: 50px;
  }

  .contact__wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 23px;
    margin-bottom: 18px;
  }

  .contact__address {
    width: 221px;
  }

  .contact__email-wrapper {
    align-items: flex-start;
  }

  .contact__paragraph,
  .contact__email,
  .contact__address {
    font-size: 17px;
    margin-right: 24px;
  }

  .contact_map {
    margin-bottom: 50px;
  }

  .contact_write {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;
    width: 1050px;
    margin-bottom: 105px;
  }

  .contact__title {
    @include size-title-desktop;
    margin-left: 170px;
  }

  .contact__wrapper {
    flex-direction: column;
    margin-left: 145px;
    margin-bottom: 49px;
  }

  .contact_map {
    position: absolute;
    top: -78px;
    left: 524px;
  }

  .contact_write {
    margin: 0;
    margin-left: 175px;
  }
}
