.contact {
  margin: 0 auto;
}

.contact__paragraph,
.contact__email {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-brown;
  padding: 0;
  margin: 0;
}

.contact__email {
  text-decoration: none;
  border-bottom: 1px solid $seafoam-blue;

  &:hover {
    color: $seafoam-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.contact__paragraph {
  margin-right: 32px;
}

.contact__address {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-brown;
  font-style: normal;
  width: 150px;
}

.contact__title {
  width: 260px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contact__email-wrapper,
.contact__address-wrapper {
  display: flex;
  margin-left: 29px;
  margin-bottom: 29px;
}

.contact_map {
  margin-top: 8px;
  margin-bottom: 34px;
}

.contact_write {
  margin: 0 auto;
  margin-bottom: 38px;
  font-size: 18px;
}

@media (min-width: $table-width) {
  .contact {
    margin-bottom: 57px;
  }

  .contact__title {
    position: relative;
    width: 678px;

    @include size-title-table;
    margin-bottom: 50px;

    &::after {
      @include pseudo-content;
      background: url("../img/icon-flag.svg");
      width: 47px;
      height: 81px;
      top: -15px;
      right: 9px;
    }
  }

  .contact__wrapper {
    width: 725px;
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
  }

  .contact__address {
    width: 221px;
  }

  .contact__email-wrapper {
    align-items: flex-start;
  }

  .contact__paragraph,
  .contact__email,
  .contact__address {
    font-size: 17px;
    margin-right: 24px;
  }

  .contact_map {
    height: 457px;
    margin-bottom: 50px;
  }

  .contact_write {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    width: $desktop-width;
    position: relative;
    margin-bottom: 105px;
  }

  .contact__title {
    @include size-title-desktop;
    width: 710px;

    &::after {
      top: -8px;
      left: -107px;
    }
  }

  .contact__wrapper {
    flex-direction: column;
    width: 760px;
    margin-bottom: 49px;
  }

  .contact_map {
    position: absolute;
    width: 525px;
    height: 457px;
    top: -78px;
    left: 524px;
  }

  .contact_write {
    margin: 0;
    margin-left: 225px;
  }
}
