.copyright {
  display: flex;
  width: 182px;
  justify-content: space-around;
  align-items: center;
}

.copyright__paragraph {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
}

.copyright__link--image {
  width: 27px;
  height: 34px;
  fill: $seafoam-blue;
}

@media (min-width:$table-width) {
  .copyright {
    margin: 0;
  }
}
