.footer-social {
  @include list-reset;
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  margin-bottom: 32px;
}

@media (min-width: $table-width) {
  .footer-social {
    margin-top: 32px;
    margin-right: 84px;
    margin-left: 159px;
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    margin-left: 349px;
    margin-right: 274px;
  }
}
