.footer-social {
  @include list-reset;
  width: 141px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media (min-width: $table-width) {
  .footer-social {
  margin-top: 0;
  align-items: flex-end;
  margin-right: 84px;
  margin-left: 159px;
  }
}
