.footer-social {
  @include list-reset;
  width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  margin-bottom: 23px;
}

.footer-social__link {
  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $table-width) {
  .footer-social {
    margin-left: 159px;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .footer-social {
    margin-left: 327px;
  }
}
