.form-fieldset {
  padding: 0;
  margin: 0 auto;
  border: none;

  &--type {
    margin-bottom: 12px;
  }

  &--color {
    margin-bottom: 15px;
  }

  &--name {
    margin-bottom: 15px;
  }

  &--telephone {
    margin-bottom: 15px;
  }

  &--email {
    margin-bottom: 16px;
  }

  &--additionally {
    margin-bottom: 16px;
  }
}

.form-fieldset__wrapper {
  width: 260px;
  margin: 0 auto;
}

.form-fieldset__list {
  @include list-reset;
}

.form-fieldset__element {
  &--color {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--type {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &--name {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $table-width) {
  .form-fieldset {
    margin: 0;

    &--type {
      margin-bottom: 51px;
    }

    &--color {
      margin-bottom: 45px;
      min-height: 304px;
      background-color: #f1f1f1;
    }

    &--name {
      margin-bottom: 50px;
    }

    &--telephone,
    &--email {
      background-color: #f1f1f1;
    }

    &--email {
      padding-bottom: 50px;
      margin-bottom: 50px;
    }

    &--additionally {
      margin-bottom: 53px;
    }
  }

  .form-fieldset__wrapper {
    display: flex;
    width: 667px;

    &--color {
      margin-top: 50px;
    }

    &--telephone {
      margin-top: 45px;
      margin-bottom: 18px;
    }
  }

  .form-fieldset__list {
    &--color {
      display: flex;
      flex-wrap: wrap;
      min-width: 500px;
    }

    &--name {
      width: 100%;
    }
  }

  .form-fieldset__element {
    &--color {
      min-width: 200px;
      margin-right: 62px;
      margin-bottom: 24px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &--name {
      margin-bottom: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-fieldset__wrapper {
    width: 930px;
  }

  .form-fieldset {
    &--type {
      margin-bottom: 50px;
    }

    &--color {
      min-height: 228px;
    }

    &--additionally {
      margin-bottom: 49px;
    }
  }

  .form-fieldset__list--name {
    width: 698px;
  }
  .form-fieldset__element {
    &--type {
      &:first-child {
        margin-bottom: 22px;
      }
    }
    &--color {

      &:nth-child(2n) {
      margin-right: 62px;
      }
    }
  }
}
