.form-fieldset {
  padding: 0;
  margin: 0 auto;
  width: 260px;
  border: none;
  border-top: 1px solid $seafoam-blue;

  &--type {
    margin-bottom: 33px;
  }
}

.form-fieldset__list {
  @include list-reset;
}

.form-fieldset__element {
  &--color {
    margin-bottom: 22px;
  }

  &--type {
    margin-bottom: 20px;
  }
}

@media (min-width: $table-width) {
  .form-fieldset {
    min-width: 768px;
    margin: 0;
    border: none;

    &--type {
      margin-bottom: 30px;
    }

    &--color {
      margin-bottom: 67px;
      min-height: 304px;
      background-color: #f1f1f1;
    }

    &--telephone,
    &--email {
      background-color: #f1f1f1;
    }
  }

  .form-fieldset__wrapper {
    display: flex;
    margin-left: 51px;

    &--color {
      margin-top: 50px;
    }
  }

  .form-fieldset__list {

    &--color {
    display: flex;
    flex-wrap: wrap;
    }

    &--name {
      width: 100%;
    }
  }

  .form-fieldset__element--color {
    min-width: 200px;
    margin-right: 65px;
    margin-bottom: 24px;
  }
}
