.form-legend {
  line-height: 16px;
  color: $seafoam-blue;
  text-transform: uppercase;
  padding: 0px;
  padding-right: 24px;

  &--type {
    margin-bottom: 27px;
  }

  &--color {
    margin-bottom: 22px;
  }

  &--name {
    margin-bottom: 33px;
  }

  &--additionally {
    margin-bottom: 23px;
  }
}

@media (min-width: $table-width) {
  .form-legend {
    padding: 0;
    margin-right: 130px;

    &--color {
      margin-top: 20px;
    }
  }
}
