.main-nav__toggle {
  border: none;
  background-color: #ffffff;
  background: url(../img/icon-menu-close.svg);
  width: 21px;
  height: 20px;

}

@media (min-width: $table-width) {
  .main-nav {
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
