@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin pseudo-content {
  display: block;
  content: "";
  position: absolute;
}

@mixin size-title-table {
  font-size: 43px;
  line-height: 50px;
}

@mixin size-title-desktop {
  font-size: 53px;
  line-height: 57px;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}
