.options__notes {
  width: 260px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  color: $greyish-brown;
  font-weight: normal;
  margin-bottom: 31px;
}

.options__button {
  margin: 0 auto;
  padding: 0;
  width: 260px;
}

@media (min-width: $table-width) {
  .options {
    width: 768px;
  }
}
