.options__notes {
  width: 260px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16px;
  color: $greyish-brown;
  font-weight: normal;
  margin-bottom: 31px;
}

.options__notes-wrapper {
  margin-bottom: 55px;
}

.options__button {
  margin: 0 auto;
  padding: 0;
  width: 260px;
}

@media (min-width: $table-width) {
  .options__notes {
    margin: 0;
    width: 302px;
    font-size: 17px;
    line-height: 30px;
  }

  .options__button {
    width: 230px;
    margin: 0;
    line-height: 16px;
  }

  .options__notes-wrapper {
    display: flex;
    width: 667px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .options__notes-wrapper {
    width: 700px;
  }
}
