.page-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;

  &--index {
    color: #010000;
    width: 244px;
  }

  &--catalog,
  &--form {
    width: 320px;
    min-height: 177px;
    background-color: #f1f1f1;
    padding-top: 71px;
    margin-bottom: 21px;
  }
}

@media (min-width: $table-width) {
  .page-title {
    @include size-title-table;
    width: 497px;
    margin-bottom: 98px;

    &--catalog,
    &--form {
      width: 768px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    @include size-title-desktop;

    &--form {
      width: auto;
      margin-bottom: 50px;
    }
  }
}
