.page-form {
  display: block;
  width: 320px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
}

.page-form__paragraph {
  margin: 0 auto;
  margin-bottom: 8px;
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  color: $greyish-brown;
  font-weight: normal;
}

@media (min-width: $table-width) {
  .page-form {
    width: 768px;
  }

  .page-form__paragraph {
    width: 612px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 57px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    width: $desktop-width;
  }

  .page-form__paragraph {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}
