.page-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;

  &--index {
    color: #010000;
    width: 244px;
    padding-top: 88px;
    margin-bottom: 122px;
  }

  &--catalog,
  &--form {
    width: 100%;
    min-height: 177px;
    background-color: #f1f1f1;
    padding-top: 71px;
    margin-bottom: 21px;
  }

  &--catalog {
    margin-bottom: 30px;
  }
}

@media (min-width: $table-width) {
  .page-title {
    @include size-title-table;
    margin-bottom: 98px;

    &--index {
      width: 497px;
      padding-top: 154px;
      margin-bottom: 374px;
    }

    &--catalog,
    &--form {
      position: relative;
      margin-top: -88px;
      padding-top: 96px;
      padding-bottom: 79px;
      margin-bottom: 80px;

      &::after {
        @include pseudo-content;
        background: url("../img/bg-zigzag-fill.svg");
        width: 100%;
        height: 14px;
        top: 211px;
      }
    }

    &--form {
      padding-bottom: 83px;
      margin-bottom: 70px;

      &::after {
        top: 215px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    @include size-title-desktop;
    width: 613px;

    &--index {
      margin-bottom: 359px;
    }

    &--form,
    &--catalog {
      width: 100%;
      padding-bottom: 99px;
      margin-bottom: 125px;

      &::after {
        top: 238px;
      }
    }

    &--catalog {
      margin-bottom: 131px;
    }
  }
}
