.page-header {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $table-width) {
  .page-header {
    width: 772px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
