@media (min-width: $desktop-width) {
  .page-catalog {
    width: $desktop-width;
    margin: 0 auto;
  }

  .page-catalog__items {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin-left: 49px;
    margin-bottom: 57px;
  }
}
