.production-process {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  min-height: 503px;
  border: 1px solid #ececec;
  background-color: $color-white;
  margin-bottom: 58px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production-process__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  width: 126px;
  margin-left: 49px;
  margin-top: 24px;
  margin-bottom: 24px;

  &::before {
    @include pseudo-content;
    background-image: url("../img/icon-video.svg");
    width: 32px;
    height: 32px;
    top: 6px;
    left: -56px;
  }
}

.production-process picture {
  position: relative;
}

.production-process picture::after {
  @include pseudo-content;
  width: 101px;
  height: 77px;
  background: url("../img/icon-play.svg") no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.production-process picture:hover::after {
  width: calc(101px + 20%);
  height: calc(77px + 20%);
  background-size: contain;
}

.production-process picture:active::after {
  width: calc(101px - 20%);
  height: calc(77px - 20%);
  background-size: contain;
}

.production-process__text {
  font-size: 13px;
  line-height: 24px;
  color: $greyish-brown;
  width: 183px;
  margin-top: 22px;
  margin-bottom: 25px;
}

.production-process__button {
  width: 192px;
}

@media (min-width: $table-width) {
  .production-process {
    width: 668px;
    margin-bottom: 63px;
  }

  .production-process__title,
  .production-process__text {
    width: 586px;
  }

  .production-process__title {
    font-size: 20px;
    margin-left: 130px;
    margin-top: 37px;
    margin-bottom: 0;

    &::before {
      left: -64px;
      top: -5px;
    }
  }

  .production-process__text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 35px;
  }

  .production-process__button {
    width: 584px;
    margin-bottom: 45px;
  }

  .production-process picture {
    order: -1;
    height: 455px;
  }

  .production-process img {
    order: -1;
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    position: relative;
    width: 1049px;
    min-height: 455px;
    margin-bottom: 103px;
  }

  .production-process__title {
    width: 148px;
    margin-left: auto;
    margin-right: 143px;
    margin-top: 95px;

    &::before {
      left: 2px;
      top: -54px;
    }
  }

  .production-process__text {
    width: 223px;
    margin-left: auto;
    margin-right: 67px;
    margin-bottom: 45px;
  }

  .production-process__button {
    width: 230px;
    margin-left: auto;
    margin-right: 59px;
    margin-bottom: 0;
  }

  .production-process picture {
    position: absolute;
    left: 0;
  }

  .production-process img {
    width: 682px;
  }
}
