.production-process {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  min-height: 503px;
  border: 1px solid #ececec;
  background-color: $color-white;
  margin-bottom: 58px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production-process__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  width: 126px;
  margin-left: 91px;
  margin-top: 29px;
  margin-bottom: 26px;

  &::before {
    @include pseudo-content;
    background-image: url("../img/icon-video.svg");
    width: 32px;
    height: 32px;
    left: -80px;
  }
}

.production-process__text {
  font-size: 13px;
  line-height: 24px;
  color: $greyish-brown;
  width: 183px;
  margin-top: 34px;
  margin-bottom: 29px;
}

.production-process__button {
  width: 192px;
}

@media (min-width: $table-width) {
  .production-process {
    width: 668px;
  }

  .production-process__title,
  .production-process__text {
    width: 581px;
  }

  .production-process__title {
    font-size: 20px;
  }

  .production-process__text {
    font-size: 15px;
  }

  .production-process__button {
    width: 584px;
  }

  .production-process img {
    order: -1;
  }
}
