.product-week {
  width: 260px;
  margin: 0 auto;
}

.product-week__name {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  color: $seafoam-blue;
  text-transform: uppercase;
  margin: 0;
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
  color: $greyish-brown;
  width: 249px;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  color: $greyish-brown;
  font-weight: bold;
  margin-left: 67px;
}
