.product-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 374px;
  border: 1px solid #ececec;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 29px;
}

.product-card__specification {
  font-size: 13px;
  line-height: 30px;
  color: $greyish-brown;
  margin-left: 29px;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 204px;
  border-top: 1px solid #ececec;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.product-card__basket--image {
  opacity: 0.2;

  &:hover,
  &:focus {
    opacity: 1;
    fill: $seafoam-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $table-width) {
  .product-card {
    width: 669px;
    min-height: 334px;
    flex-direction: row;
    margin-bottom: 52px;
  }

  .product-card picture {
    height: 334px;
  }

  .product-card__wrapper-specification {
    margin-left: 26px;
  }

  .product-card__title,
  .product-card__specification {
    margin-left: 0;
  }

  .product-card__title {
    width: 232px;
    font-size: 20px;
    margin: 0;
    margin-top: 25px;
  }

  .product-card__specification {
    font-size: 15px;
    margin-top: 5px;
  }

  .product-card__price {
    font-size: 17px;
    padding-top: 5px;
  }

  .product-card__price-wrapper {
    margin-top: 175px;
    margin-left: 6px;
    width: 268px;

    &--bowl-toys {
      margin-top: 151px;
    }
  }

  .product-card__image {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    margin: 0;
    width: 316px;
    min-height: 659px;
    flex-direction: column;
  }

  .product-card picture {
    height: 462px;
  }

  .product-card img {
    width: 316px;
    height: 462px;
  }

  .product-card__price-wrapper {
    margin-top: 0;
    margin-left: 0;
    width: 255px;
    align-items: flex-end;

    &--bowl-toys {
      margin-top: 0;
    }
  }

  .product-card__price {
    margin-bottom: 0;
  }

  .product-card__specification {
    margin-bottom: 38px;

    &--bowl-toys{
      margin-bottom: 14px;
    }
  }
}
