.reviews {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 87px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 25px;
}

.reviews-author__text {
  width: 256px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 26px;
}

.reviews__wrapper-name {
  margin-bottom: 29px;
}

.reviews-author__name {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px;
}

.reviews-author__instagram-nick {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 38px;
}

.reviews__button {
  outline: none;
  display: block;
  width: 130px;
  height: 52px;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px solid #ececec;

  &--previous {
    background: url("/img/icon-left-arrow.svg") no-repeat;
    background-position: center;
  }

  &--next {
    background: url("/img/icon-right-arrow.svg") no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $table-width) {
  .reviews {
    width: 770px;
    min-height: 457px;
    position: relative;
    margin-bottom: 146px;
    background: url("../img/review@1x.jpg") no-repeat;


    &::after {
      @include pseudo-content;
      width: 100%;
      bottom: -90px;
      height: 23px;
      left: 0;
      background: url("../img/bg-zigzag-line.svg") no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg") no-repeat;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    @include size-title-table;
    margin-bottom: 48px;
    margin-left: 47px;
    padding-top: 77px;
  }

  .reviews-author__text {
    width: 643px;
    font-size: 17px;
    margin: 0;
    margin-bottom: 58px;
    margin-left: 50px;
  }

  .reviews__author {
    margin-left: 50px;
    width: 651px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reviews-author__name {
    font-size: 18px;
  }

  .reviews__button-wrapper {
    margin-top: 13px;
    width: 137px;
    justify-content: space-between;
  }

  .reviews__button {
    border: none;
    width: 50px;
    height: 26px;
  }

  .reviews__write {
    position: absolute;
    width: 175px;
    top: 79px;
    left: 544px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    margin-bottom: 231px;
  }

  .reviews__title {
    @include size-title-desktop;
    padding-top: 70px;
    margin-left: 171px;
  }

  .reviews__write {
    top: 79px;
    left: 875px;
  }

  .reviews__author {
    width: 856px;
    margin-left: 175px;
  }

  .reviews-author__text {
    width: 770px;
    margin-left: 175px;
    margin-bottom: 40px;
  }

  .reviews-author__name {
    font-size: 17px;
  }

  .reviews__button-wrapper {
    margin-top: 8px;
  }
}
